# Media
MEDIA_EXTENSIONS=["avi", "mp4", "mkv"]

# Localization
SUBTITLE_SUFFIX="ko"
MKV_SUBTITLE_EXTRACTION_LANGUAGE="kor"

# Translation
MKV_SUBTITLE_FALLBACK_LANGUAGE='["jpn", "eng"]'
ENABLE_SUBTITLE_TRANSLATION="True"
TRANSLATION_SERVER_ADDRESS="http://localhost:11434"
TRANSLATION_ENDPOINT="/v1/chat/completions"
TRANSLATION_API_KEY=""
TRANSLATION_MODEL="gpt-4o-mini"

# Subtitle
CONVERT_SMI=True
CONVERT_SMI_EXTENSION="ass"
SUBTITLE_EXTENSIONS=["srt", "ass", "smi"]

# Season File format
FILENAME_FORMAT="{{ title }} - S{{ season_number }}E{{ episode_number }}"
SEASON_NUMBER_DIGIT=2
EPISODE_NUMBER_DIGIT=2

# Debug
EXPORT_DEBUG_LOG_FILE=False